*, *::before, *::after {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

:root {
  --color-background: #0E1726;
  --color-text: #31D3D4;
  --color-accent: #E05C70;
  --color-accent-dark: #D9364E;
  --color-grey: #8C8C8C;
  --color-white: #E6E6E6;

  --elevation-section-shadow: 0 2px 10px 0 rgba(49, 211, 212, .25), 0 8px 20px 0 rgba(224, 92, 112, .25);
  --elevation-sm: 2px 2px 10px 0 rgba(224, 92, 112, .25);
  --elevation-md-blue: 0px 2px 15px 5px rgba(49, 211, 212, .5);
  --elevation-button: 2px 2px 15px 3px rgba(49, 211, 212, .25);
}

/* FONTS */

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.text-h2 {
  font-size: 24px;
  line-height: 30px;
}

.text-sm {
  font-size: 12px;
  line-height: 14px;
}

.text-color-bg {
  color: var(--color-background);
}

.text-color-text {
  color: var(--color-text);
}

.text-color-acc {
  color: var(--color-accent);
}

.text-color-grey {
  color: var(--color-grey);
}

.text-color-white {
  color: var(--color-white);
}

/* BACKGROUNDS */
.bg-bg {
  background-color: var(--color-background);
}

.bg-text {
  background-color: var(--color-text);
}

.bg-acc {
  background-color: var(--color-accent);
}

.bg-acc-dark {
  background-color: var(--color-accent-dark);
}

.bg-grey {
  background-color: var(--color-grey);
}

.bg-white {
  background-color: var(--color-white);
}

/* ELEVATIONS */

.elevation-section-shadow {
  box-shadow: var(--elevation-section-shadow);
}

.elevation-sm {
  box-shadow: var(--elevation-sm);
}

.elevation-md-blue {
  box-shadow: var(--elevation-md-blue);
}

.elevation-button {
  box-shadow: var(--elevation-button);
}

/* LAYOUT */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-fill {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

/* SPACING */

.p-4 {
  padding: 4px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-32 {
  padding: 32px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pt-48 {
  padding-top: 48px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pb-112 {
  padding-bottom: 112px;
}

.m-auto {
  margin: auto;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

/* SIZING */
.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-100v {
  width: 100vw;
}

.w-100dv {
  width: 100dvw;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.h-100v {
  height: 100vh;
}

.h-100dv {
  height: 100dvh;
}

.w-max-content {
  width: max-content;
}

.h-max-content {
  height: max-content;
}

.ar-square {
  aspect-ratio: 1;
}

/* BORDERS */

.border-sm {
  border-width: 1px;
  border-style: solid;
}

.border-md {
  border-width: 3px;
  border-style: solid;
}

.border-bg {
  border-color: var(--color-background);
}

.border-text {
  border-color: var(--color-text);
}

.b-radius-5 {
  border-radius: 5px;
}

.b-radius-10 {
  border-radius: 10px;
}

.b-radius-20 {
  border-radius: 20px;
}

.b-radius-32 {
  border-radius: 32px;
}

/* OVERFLOW */

.of-hidden {
  overflow: hidden;
}

.ofx-hidden {
  overflow-x: hidden;
}

.ofy-hidden {
  overflow-y: hidden;
}

.of-auto {
  overflow: auto;
}

.ofx-auto {
  overflow-x: auto;
}

.ofy-auto {
  overflow-y: auto;
}

/* POSITIONS */

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.abs-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-inset {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.zindex-1 {
  z-index: 1;
}

.zindex-10 {
  z-index: 10;
}