.avatar {
  overflow: hidden;
}

.avatar.selected {
border: 3px solid var(--color-text);
}

.avatar.faded {
  filter: brightness(.5);
}

.avatar img {
  display: block;
}

.avatar img.no-image-fade {
  filter: brightness(.5);
}