.spinner {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  border: 0px solid var(--color-text);
  border-bottom-width: 3px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}